Source: signing-milter
Section: mail
Priority: extra
Maintainer: Andreas Schulze <debian@andreasschulze.de>
Build-Depends: cdbs, debhelper (>= 7), dv-libmilter-dev | libmilter-dev, libcdb-dev, libdmalloc-dev, libssl-dev
Standards-Version: 3.8.0
Homepage: http://andreasschulze.de/signing-milter

Package: signing-milter
Architecture: i386
Depends: ${shlibs:Depends}, dv-baseconfig, libcdb1, libssl0.9.8
Description: Sign email via milter protocol
 signing-milter  uses  the  milter  interface, originally distributed as
 part of version 8.11 of sendmail(8), to  provide  signing  service  for
 mail transiting a milter-aware MTA.
